html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
nav {
    top:0;
    height: 9%;
    width: 100%;
    position: fixed;
}

#map {
height: 100%;
width: 100%;
}

#search {
    top: 9%;
    padding-left: 23%;
    position: fixed;
    width: 100%;
}

#search-input {
    color: black;
    font-family: Roboto;
    font-size: larger;
}


.search-list {
    top: 9%;
    position: fixed;
    height: 90%;
    overflow: scroll;
    width: 23%;
}

.overlay {
    position: absolute;
    width: 100%;
}

.wrapper {
    position: relative;
}








