<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css">
    <link rel="stylesheet" href="app.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/geolib/dist/geolib.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js'></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div id="map" map=""></div>
<div class="overlay" ng-controller="searchLstCtrl">
    <nav class="brown lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <img id="logo-container" id="logo" src="pic/logo.png" class="brand-logo"/>
            <ul class="right hide-on-med-and-down">
                <li><a href="http://restaurant.uniqso.pp.ua">About us</a></li>
            </ul>
        </div>
    </nav>
    <div class="search-list fixed col s3" id="list">
        <ul class="collection">
            <ul class="collection-item" ng-repeat="location in locations.locationsList | filter: searcher"
                ng-click="chooseLocation(location)">
                <md-card>
                    <md-card-title>
                        <div class="row">
                            <img class="col s3 material-icons circle image" src="pic/nophoto.png"
                                 ng-show="location.avatar == null">
                            <img class="col s3 material-icons circle image" ng-show="location.avatar != null"
                                 src={{location.avatar}}>

                            <md-card-title-text class="col">
                                <h5><span class="md-headline">{{location.name}}</span></h5>
                            </md-card-title-text>
                        </div>
                    </md-card-title>
                    <md-card-content>
                        <p><span>Description:</span>
                            {{location.desc}}
                        </p>
                        <p><span>About:</span>
                            {{location.review}}
                        </p>
                    </md-card-content>
                    <p><span>Distance:</span> {{calculateDistance(location)/1000 | number: 2}} km</p>
                </md-card>
            </li>

        </ul>
    </div>
    <div id="search" class="row">
        <form>
            <div class="input-field">
                <input id="search-input" class="input-field" type="search" ng-model="search"
                       placeholder="Enter what you need">
            </div>
        </form>
    </div>
</div>


</body>
</html>
